/*The "main" css page with global styling
 */
* {
	font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}


/* Navigation */
.navigation {
    display: flex;
    height: 10vh;
    background-color: #f2f2f2;
    color: #2d2d2d;
    width: 100%;
    letter-spacing: 0.6em;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
	align-items:center;
}

.navigation img {
	height:100%;
	width:auto;
}

#map {
	height: 80vh;
	border: 1px solid black;
}

/*Footer */
.footer {
	display: flex;
	position:fixed;
	bottom:0;
	background-color: #24292e;
	height:10vh;
	width: calc(100% - 16px);
	align-items:center;
	align-content:space-between;
}

.footer div {
	flex-grow:1;
	display: flex;
	align-items:center;
	justify-content:center;
	color: white;
	text-transform: uppercase;
	letter-spacing: 0.5em;
}

.footer img {
	max-height:10vh;
}


@media (max-width: 400px) {
	.footer>div>span{
		display:none;
	}
}
