/*The "main" css page with global styling
 */
* {
	font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}


/* Navigation */
.navigation {
    display: flex;
    position: fixed;
    z-index: 10;
    height: 10vh;
    background-color: #f2f2f2;
    color: #2d2d2d;
    width: 100%;
}

@media (min-width: 320px) {
    height: 8vh;
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {.navigation {height: 8vh; font-size: 2em;} }

.content>a>img {
	height:100px;
	width:auto;
}

#titlecard_wrapper img {
	height:65px;
	width:auto;
    padding-right: 1em;
    padding-left: 1em;
}

@media (min-width: 320px) {
    #titlecard_wrapper img {height: 45px;}
}

#titlecard_wrapper {
	display:flex;
	align-items:center;
}

#titlecard_wrapper>#header_text {
	letter-spacing: 0.6em;
    text-transform: uppercase;
	font-size: 1em;
}

#warning_box {
	text-transform:capitalize;
    width: 100%;
    height: 5vh;
    font-weight: 300;
    font-size: 0.5em;
    padding-left: 1em;
    padding-top: 0.7em;
}

@media (min-width: 320px) {#warning_box {font-size: 1em; padding-top: 1.2em;}}
@media (min-width: 550px) {#warning_box {font-size: 0.7em; padding-top:0.3em;}}
@media (min-width: 750px) {#warning_box {font-size: 0.8em; padding-left: 8em; padding-top:0.3em;}}
@media (min-width: 1000px) {#warning_box {font-size: 1em; padding-left: 13em; padding-top: 0em;}}
@media (min-width: 1200px) {#warning_box {font-size: 1em; padding-left: 20em;}}

/*Alerts*/
.high {
	background-color:red;
	color:white;
}
.med {
	background-color:yellow;
	color:black;
}
.low {
	background-color:green;
	color:white;
}
.unkn {
	background-color:white;
	color:black;
}




#map {
	height: 100vh;
    max-width: 100vw;
}

/*Bottom Modals*/

.modals {width: 100%;}
.modal p {padding-bottom: 1em;}

#imageUploadContainer {background-color: #f7f7f7; position: absolute; height:50%; width: 50%;}
#imageUploadContainer {text-align: center; color:#a0a0a0; padding-top: 2.5em;}
@media (min-width: 320px) {#imageUploadContainer {width: 80%; height: 30%; margin-left:10%; top:56vh;}}
@media (min-width: 550px) {#imageUploadContainer {width: 70%; height: 40%; top: 45vh;}}
@media (min-width: 750px) {#imageUploadContainer {width: 45%; height: 30%; top: 55vh;}}
@media (min-width: 1000px) {#imageUploadContainer {width: 30%; height: 23%; top:65vh;}}
@media (min-width: 1200px) {#imageUploadContainer {width: 30%; height: 23%; top: 54vh;}}

#editReportContainer {background-color: #f7f7f7; position: absolute; height:50%; width: 50%;}
#editReportContainer {text-align: center; color:#a0a0a0; padding-top: 2.5em; padding-bottom: 0.5em;}
@media (min-width: 320px) {#editReportContainer {width: 80%; height: 30%; margin-left:10%; top:45vh;}}
@media (min-width: 550px) {#editReportContainer {width: 70%; height: 22%; top: 55vh;}}
@media (min-width: 750px) {#editReportContainer {width: 45%; height: 20%; top: 59vh; padding-left: 0.5em; padding-right: 0.5em; margin-left:27%;}}
@media (min-width: 1000px) {#editReportContainer {width: 30%; height: 30%; top:46vh; margin-left:34%;}}
@media (min-width: 1200px) {#editReportContainer {width: 30%; height: 23%; top: 54vh;}}

#infoContainer {background-color: #f7f7f7; position: absolute; height:50%; width: 50%; overflow-y: scroll;}
#infoContainer {text-align: center; color:#a0a0a0; padding-top: 2.5em;}
@media (min-width: 320px) {#infoContainer {width: 80%; height: 60%; margin-left:10%; top:20vh;}}
@media (min-width: 550px) {#infoContainer {width: 70%; height: 60%; top: 17vh; margin-left:20%;}}
@media (min-width: 750px) {#infoContainer {width: 45%; height: 60%; top: 20vh; margin-left: 45%;}}
@media (min-width: 1000px) {#infoContainer {width: 30%; height: 62%; top:17vh; margin-left: 59%;}}
@media (min-width: 1200px) {#infoContainer {width: 30%; height: 62%; top: 17vh;margin-left: 59%;}}






#report {
	cursor:pointer;
}

#upload {
	cursor:pointer;
}




/*Footer */
.footer {
	display: flex;
	position:fixed;
    z-index: 20;
	top: 90vh;
	background-color: #24292e;
	height:10vh;
	width: 100%;
    max-width: 100vw;
	align-items:center;
	align-content:space-between;
}

.footer div {
    display: flex;
	flex-grow:1;
	align-items:center;
	justify-content:center;
	color: white;
}

.footer img {
	max-height:10vh;
    width: 30px;
}





@media (max-width: 320px) {
	.footer>div>span{
	}
}



/* Utilities */

.displayNone {display: none; visibility: none;}
.displayBlock {display: block; visibility: visible;}
